<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>After School</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <script src="courses.js"></script>
        <link rel="stylesheet" href="css/bootstrap.css">
      </head>

<body>
    <div id="app" class="container">
        <h1 v-text="sitename"></h1>

        <div v-if="showCourse">
            <button v-on:click="showCheckout" :class="{'disabled': cart.length ===0}">Checkout {{cartItemCount}}</button><br>
            
            <div v-for="course in courses">
              <img v-bind:src="course.image" />
              <h2 v-text="course.title"></h2>
              <p v-html="course.description"></p>
              <p>Location: {{course.location}}</p>
              <p>Price: {{course.price}}</p>
    
              <p>
                Available stock: {{course.availableInventory -cartCount(course.id)
                }}
              </p>
    
              <button v-on:click="addToCart(course)" v-if="canAddToCart(course)">
                Add to cart
              </button>
              <button disabled="disabled" v-else>Add to cart</button>
              <span
                v-if="course.availableInventory
            === cartCount(course.id)"
              >
                All out!
              </span>
    
              <span
                v-else-if="course.availableInventory - cartCount(course.id) < 5"
              >
                Only {{course.availableInventory - cartCount(course.id)}} left!
              </span>
              <span v-else>Buy now!</span>
    
              <div>
                <span v-for="n in course.rating">★</span>
                <span v-for="n in 5-course.rating">☆</span>
              </div>
            </div> 
        </div>

        <div v-else>
            <button v-on:click="showCheckout">Homepage {{cartItemCount}}</button>
    
            <h2>Shopping cart</h2>
            <ul>
              <li v-for="item in cart" :key="item.id">
                {{item.title}} {{item.price}}
                <button @click="removeFromCart(item)">Remove</button>
              </li>
            </ul>
    
            <h2>Checkout</h2>
            <p>
              <strong>First Name:</strong>
              <input
                v-model.trim="order.firstName"
                type="text"
                pattern="^[a-zA-Z\s]+$"
              />
            </p>
    
            <p>
              <strong>Phone Number:</strong>
              <input v-model.number="order.number" type="number" />
            </p>
    
            <h2>Order Information</h2>
            <p>First Name: {{order.firstName}}</p>
            <p>phone Number: {{order.number}}</p>
    
            <button v-on:click="submitForm">Place Order</button>
        </div>
    </div>    

    <script>
        var app = new Vue({
        el: "#app",
        data: {
          sitename: "Welcome to After School!",
          courses: courses,
          cart: [],
          showCourse: true,
          order: {
            firstName: "",
            phoneNumber: "",
          },
        },

        methods: {
          addToCart(course) {
            this.cart.push(course.id);
            //console.log(this.cart);
          },
          removeFromCart(course) {
            const index = this.cart.indexOf(course);
            if (index !== -1) {
              this.cart.splice(index, 1); // Remove the course from the cart
              // Assuming `courses` is an array containing course objects and each course object has a property `id`
              const foundCourse = this.courses.find(
                (item) => item.id === course.id
              ); // Find the course in the courses array
              foundCourse.spaces++; // Increment the spaces available for the course
            }
          },
          showCheckout() {
            this.showCourse = this.showCourse ? false : true;
          },
          submitForm() {
            alert("Order submitted!");
          },
          canAddToCart(course) {
            return course.availableInventory > this.cartCount(course.id);
          },
          cartCount(id) {
            let count = 0;
            for (let i = 0; i < this.cart.length; i++) {
              if (this.cart[i] === id) {
                count++;
              }
            }
            return count;
          },
        },

        computed: {
          cartItemCount() {
            return this.cart.length;
          },
          sortedCourses() {
            let coursesArray = this.courses.slice(0);
            function compare(a, b) {
              if (a.price > b.price) return 1;
              if (a.price < b.price) return -1;
              return 0;
            }
            return coursesArray.sort(compare);
          },
        },
    });
    </script>
</body>

</html>